body, input, select, textarea, button, .form-control {
	font-family: inherit;
}

input, select, textarea, button, .form-control {
	font-size: inherit;
}

input {
	text-transform: uppercase;
}

.has-error {
	color: #a94442;
}

.write {
	display: none
}

. seperatePaddingDatatable {
	padding-top : "2px"
}

#wrapper {
    padding-left: 0px;
}
#page-wrapper {
    background-color:#f5f5f5;
     min-height: 100%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body, #mainWrapper {
    background-color: #f5f5f5;
 }